html {
	/* em单位相对于父元素的font-size */
	/* rem相对于根元素html的font-size（r就是根的意思） */
	/* 16 * 62.5% = 10px */
	/* 1rem = 10px */
	font-size: 62.5%;
}

/* viewport height = vh */
html,
body,
#root
.App {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul,
ol {
	list-style: none;
}

canvas {
	display: block;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}